{% extends "base.html" %}

{% block app_content %}
    <h1>About This Website</h1>
    <h2>Welcome to Bloc Buddy!</h2>
    <p> Our goal is to create a bouldering assistant web app, for tracking your climbs, 
        recording specific movements, and generating feedback to help with your training.</p>
    <br>
    <h2>Who We Are</h2>
    <p>We are engineering students at Monash University Clayton, and have created this web app as a part of our Final Year Project.</p>
    <ul>
        <li>Emily Kuo</li>
        <li>Sarah Ross</li>
        <li>Juliette Smith</li>
    </ul>
{% endblock %}

